header{
    background-color: #115722;
    font-size: 45px;
    text-align: center;
    color: white;
}
body{
    margin: 0 auto;
    padding: 0;
    text-align: center;
   
   
}
#contenedor{
    display: flex;
  justify-content: center;
}
section{
    
    border: 2px solid black;
    width: 350px;
    position: static;
    float: left;
    padding: 25px 75px 25px 75px;
    font-size: 1.4em;
    
       

}
.texto{
    float: right;
    margin-right: 25px;
    width: 75px;
}
h1{
    margin: 15px 0 15px 0;
}